body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  border:0;
  background-color:none;
  outline:none;
  -webkit-appearance: none;
  padding: 0;
}
#player1{
  position: absolute;
  top: 330px;
  left: 10%;
  transform: rotate(90deg);
}
#player2{
  top: 5%;
  left:35%;
  position: absolute;
  transform: rotate(180deg);
}
#player3{
  position: absolute;
  top: 330px;
  left: 60%;
  transform: rotate(270deg);
}
#player0{
  position: absolute;
  left:35%;
  top:85%;
}
#player0-top{
  position: absolute;
  left:35%;
  top:80%;
}
.log{
  color: #ffc702;
}
.showlast{
  color: #ffc702;
  position: absolute;
  top:30%;
  left:35%;
}
.gamelog{
  position: absolute;
  width: 300px;
  top:500px;
  left:0px;
  text-align: justify;
  font-family: "cwTeXFangSong",serif ;
  white-space: pre-wrap;
}
.winlog{
  position:absolute;
  top:500px;
  right:500px;
  color:white;
}
.title{
  color: coral;
  font-weight: bold;
  width:70px;
  background-color: darkgreen;
}
.result{
  color:white;
  background-color: green;
  font-family: serif;
  width:60px;
  text-shadow: -4px 4px 6px dimgray;
  width:100px;
}
.discard{
  position: absolute;
  top:380px;
  left:35%;
}
.player{
  position: absolute;
  top:630px;
  left:1100px;
} 
.enemy1{
  position: absolute;
  top:350px;
  left:1270px;
}
.enemy2{
  position: absolute;
  top:5px;
  left:340px;
}
.enemy3{
  position: absolute;
  top:350px;
  left:170px;
}
.head{
  width: 100px;
  height: 100px;
}
.blood{
  background-color: red;
  height: 20px;
  color: white;
  text-align: center;
  width:100px;
}
.pict{
  width: 1000px;
  height: 600px;
}
